#!/bin/sh
# Added by mjd119 to configure qt,gtk, etc. for i3 (SDDM sources .xprofile, not .xinitrc)
if [ "$XDG_DESKTOP_SESSION" != KDE ]
	then export QT_QPA_PLATFORMTHEME=qt5ct
fi
# Consistent file dialog (Arch Wiki)
export GTK_USE_PORTAL=1
# Proper scaling for QT apps (Arch Wiki)
#export QT_SCREEN_SCALE_FACTORS=1.75
# Export path for doom-emacs (mjd119)
export PATH=$PATH:~/.emacs.d/bin
#export GDK_SCALE=2
#export GDK_DPI_SCALE=0.5
export QT_AUTO_SCREEN_SCALE_FACTOR=0
