"*":
  core:
    disabledPackages: [
      "remote-ftp"
    ]
    telemetryConsent: "no"
  editor:
    fontSize: 12
    softWrap: true
  "exception-reporting":
    userId: "35b77153-b8c4-4f87-bfe5-f471d833dfad"
  welcome:
    showOnStartup: false
