// Theme is from external file (https://github.com/davatorium/rofi-themes)
configuration {
  show-icons: true;
  font: "SauceCodePro Nerd Font Mono Medium 12";
  drun-display-format: "{icon} {name}";
  display-run: " ";
  display-drun: " ";
  display-window: " ";
  modi: "window,run,drun";
  theme: "onedark";
}
element-icon {
  size: 2.25ch;
}
